<div class="relative flex items-start w-96 h-fit rounded-2xl shadow-card hover:shadow-xl scale-[0.98] hover:scale-100 cursor-pointer transition-all translate-x-28">
  <div class="absolute top-0 left-0 p-6">
    <p class="mb-2 text-xs text-red-600 uppercase">{{promotion()}}</p>
    <p class="mb-2 text-3xl font-bold">{{title()}}</p>
    @if (description()) {
      <p>{{description()}}</p>
    }
  </div>
  @if (isEdu()) {
    <svg-icon svgIcon="custom_solid:academic-cap" class="absolute z-10 text-green-700 top-4 right-4 icon-size-8"></svg-icon>
  }
  <img [src]="imgURL()" alt=""
    class="object-contain rounded-2xl"
  >
</div>