<div class="relative flex items-start w-96 h-fit rounded-2xl hover:shadow-card hover:scale-[1.01] cursor-pointer transition-all">
  <div class="absolute top-0 left-0 p-6">
    <p class="mb-2 text-xs text-red-600 uppercase">Ưu đãi trong thời gian có hạn</p>
    <p class="text-3xl font-bold">Nhận thêm Airpods khi mua Mac và Apple Pencil khi mua iPad.</p>
  </div>
  <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-offer-202406_GEO_VN?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1717526810649" alt=""
    class="object-contain rounded-2xl"
  >
</div>