<div class="flex flex-col items-center w-full gap-4 pt-4 overflow-hidden">
  <app-banner></app-banner>

  <app-advertise class="w-full px-28"></app-advertise>

  <app-categories class="w-full px-28"></app-categories>

  <div class="relative flex items-start w-full px-28">
    <div class="w-3/5">
      <p class="text-2xl font-bold">Công cụ tiên tiến cho những môn học nâng cao. <span class="text-2xl font-bold text-hint">Chọn dòng sản phẩm hàng đầu.</span></p>
    </div>
  </div>

  <app-custom-swiper [swiperID]="'promotionSwiper'">
    <div
      class="flex items-center w-screen gap-4 overflow-x-scroll hide-scrollbar"
      id="promotionSwiper"
    >
      <app-promotion
        [promotion]="'Ưu đãi trong thời gian có hạn'"
        [title]="'Nhận thêm Airpods khi mua Mac và Apple Pencil khi mua iPad.'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-offer-202406_GEO_VN?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1717526810649'"
      >
      </app-promotion>
      <app-promotion
        [isEdu]="true"
        [promotion]="'NHẬN THÊM AIRPODS'"
        [title]="'MacBook Air'"
        [description]="'Từ 22.499.000đ với chính sách trợ giá cho giáo dục'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-macbook-air-202406?wid=800&hei=1000&fmt=jpeg&qlt=90&.v=1717542579551'"
      >
      </app-promotion>
      <app-promotion
        [isEdu]="true"
        [promotion]="'NHẬN THÊM APPLE PENCIL'"
        [title]="'Ipad Air'"
        [description]="'Từ 15.599.000đ với chính sách trợ giá cho giáo dục'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-ipad-air-202406_GEO_VN?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1717542584851'"
      >
      </app-promotion>
      <app-promotion
        [isEdu]="true"
        [promotion]="'NHẬN THÊM AIRPODS'"
        [title]="'MacBook Pro'"
        [description]="'Từ 37.499.000đ với chính sách trợ giá cho giáo dục'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-macbook-pro-202406?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1717542584936'"
      >
      </app-promotion>
      <app-promotion
        [isEdu]="true"
        [promotion]="'NHẬN THÊM APPLE PENCIL'"
        [title]="'Ipad Pro'"
        [description]="'Từ 26.099.000đ với chính sách trợ giá cho giáo dục'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-ipad-pro-202406_GEO_VN?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1717542584802'"
      >
      </app-promotion>
      <app-promotion
        [isEdu]="true"
        [promotion]="'NHẬN THÊM AIRPODS'"
        [title]="'iMac'"
        [description]="'Từ 35.599.000đ'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-imac-202406?wid=800&hei=1000&fmt=jpeg&qlt=90&.v=1717542584914'"
      >
      </app-promotion>
      <app-promotion
        class="pr-56"
        [isEdu]="true"
        [promotion]="'NHẬN THÊM AIRPODS'"
        [title]="'Mac mini'"
        [description]="'Từ 12.499.000đ'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-mac-mini-202406?wid=800&hei=1000&fmt=jpeg&qlt=90&.v=1716334554593'"
      >
      </app-promotion>
    </div>
  </app-custom-swiper>

  <div class="flex items-start w-full mt-6 px-28">
    <div class="w-3/5">
      <p class="text-2xl font-bold">Tận dụng hết điểm tín dụng của bạn. <span class="text-2xl font-bold text-hint">Cộng thêm những cả ưu đãi độc quyền cho ngành giáo dục.</span></p>
    </div>
  </div>

  <div class="grid w-full h-full grid-cols-3 gap-8 mt-6 px-28">
    <div class="relative flex items-center justify-between w-full col-span-1 cursor-pointer rounded-3xl shadow-card hover:scale-[1.02] hover:shadow-xl transition-all">
      <p class="absolute w-full pr-8 text-3xl font-bold top-10 left-8">Khám phá tất cả các cách để chuẩn bị cho đại học.</p>
      <img class="object-contain w-full rounded-3xl" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-applecare-discount-sticker-202406?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1716921862598" alt="stuff image">
    </div>

    <div class="grid h-full col-span-1 grid-rows-2 gap-8">
      <div class="relative col-span-1 bg-white cursor-pointer rounded-3xl shadow-card hover:scale-[1.02] hover:shadow-xl transition-all">
        <p class="absolute pr-12 text-2xl font-bold top-10 left-8">Trợ giá cho giáo dục dành cho sinh viên, giáo viên và hơn thế nữa.</p>
        <img class="object-contain h-full rounded-3xl" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-25-bts-education-pricing-sticker?wid=960&hei=480&fmt=jpeg&qlt=90&.v=1716334554800" alt="">
      </div>
      <div class="relative col-span-1 bg-white rounded-3xl shadow-card hover:scale-[1.02] hover:shadow-xl transition-all cursor-pointer">
        <p class="absolute pr-20 text-2xl font-bold top-10 left-8">Giảm 20% AppleCare+.</p>
        <img class="object-contain h-full rounded-3xl" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-25-bts-edu-applecare-sticker-202406?wid=960&hei=480&fmt=p-jpg&qlt=95&.v=1716921862359" alt="">
      </div>
    </div>

    <div class="grid h-full col-span-1 grid-rows-2 gap-8">
      <div class="relative col-span-1 bg-white cursor-pointer rounded-3xl shadow-card hover:scale-[1.02] hover:shadow-xl transition-all">
        <p class="absolute text-2xl font-bold top-10 left-8 pr-[40%]">Gói Apple Music cho Sinh Viên đi kèm với Apple TY+ miễn phí.</p>
        <img class="object-contain h-full rounded-3xl" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-25-bts-edu-itunes-sticker-202406?wid=960&hei=480&fmt=p-jpg&qlt=95&.v=1716946339191" alt="">
      </div>
      <div class="relative col-span-1 bg-white rounded-3xl shadow-card hover:scale-[1.02] hover:shadow-xl transition-all cursor-pointer">
        <p class="absolute text-2xl font-bold top-10 left-8 pr-[30%]">Sở hữu gói ứng dụng chuyên nghiệp chỉ với 4.999.000đ.</p>
        <img class="object-contain h-full rounded-3xl" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-25-bts-edu-pro-bundle-sticker-202406_GEO_VN?wid=960&hei=480&fmt=p-jpg&qlt=95&.v=1719848960766" alt="">
      </div>
    </div>
  </div>

  <div class="flex items-start w-full mt-6 px-28">
    <div class="w-3/5">
      <p class="text-2xl font-bold">Phụ kiện thiết yếu. <span class="text-2xl font-bold text-hint">Kết hợp hoàn hảo với các thiết bị yêu thích của bạn.</span></p>
    </div>
  </div>

  <app-custom-swiper [swiperID]="'studentPromotion'">
    <div
      class="flex items-center w-screen gap-4 overflow-x-scroll hide-scrollbar"
      id="studentPromotion"
    >
      <app-promotion
        [title]="'Những thứ sinh viên nhất định phải có'"
        [description]="'Sắm những gì bạn cần để khởi đầu thật thông minh.'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-bts-accessories-202406_GEO_VN?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1717435776952'"
      >
      </app-promotion>
      <app-small-product
        [isEdu]="true"
        [promotion]="'Mới'"
        [title]="'Apple Pencil Pro'"
        [description]="'3.199.000đ với chính sách trợ giá cho giáo dục.'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MX2D3?wid=400&hei=400&fmt=jpeg&qlt=90&.v=1713841707336'"
      >
      </app-small-product>
      <app-small-product
        [isEdu]="true"
        [promotion]="'Mới'"
        [title]="'Magic Keyboard cho iPad Pro 13 inch (M4) - Tiếng Anh Mỹ'"
        [description]="'9.199.000đ với chính sách trợ giá cho giáo dục.'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MWR53?wid=400&hei=400&fmt=jpeg&qlt=90&.v=1713934300288'"
        [colors]="['gray', 'black']"
      >
      </app-small-product>
      <app-small-product
        [isEdu]="true"
        [promotion]="'Mới'"
        [title]="'Magic Keyboard Folio cho iPad (Thế hệ thứ 10) - Tiếng Anh Mỹ'"
        [description]="'3.199.000đ với chính sách trợ giá cho giáo dục.'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MQDP3?wid=400&hei=400&fmt=jpeg&qlt=90&.v=1664481446939'"
      >
      </app-small-product>
      <app-small-product
        [isEdu]="true"
        [title]="'Apple Pencil (USB-C)'"
        [description]="'1.899.000đ với chính sách trợ giá cho giáo dục.'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MX2D3?wid=400&hei=400&fmt=jpeg&qlt=90&.v=1713841707336'"
      >
      </app-small-product>
      <app-small-product
        [promotion]="'Khắc Miễn Phí'"
        [title]="'Airpods Pro (Thế hệ thứ 2) với Hộp Sạc Magsage (USB-C)'"
        [description]="'6.199.000đ.'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MTJV3?wid=400&hei=400&fmt=jpeg&qlt=90&.v=1694014871985'"
      >
      </app-small-product>
      <app-small-product
        [title]="'Cáp Sạc USB-C 240W (2 m)'"
        [description]="'819.000đ.'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MU2G3?wid=400&hei=400&fmt=jpeg&qlt=90&.v=1693236163178'"
      >
      </app-small-product>
      <app-small-product
        class="pr-56"
        [title]="'Beats Studio Buds + Tai nghe không dây đích thực khử tiếng ồn'"
        [description]="'3.999.000đ.'"
        [imgURL]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MQLK3?wid=400&hei=400&fmt=jpeg&qlt=90&.v=1682361480894'"
        [colors]="['gray', 'black']"
      >
      </app-small-product>
    </div>
  </app-custom-swiper>

  <div class="flex items-start w-full mt-6 px-28">
    <div class="w-3/5">
      <p class="text-2xl font-bold">Tìm iPad mới. <span class="text-2xl font-bold text-hint">Chưa thể quyết? Bắt đầu từ đây nhé.</span></p>
    </div>
  </div>

  <app-custom-swiper [swiperID]="'iPadPromotion'">
    <div
      class="flex items-center w-screen gap-4 overflow-x-scroll hide-scrollbar"
      id="iPadPromotion"
    >
      <div>
        <div class="relative flex items-start w-[31rem] h-fit rounded-2xl shadow-card hover:shadow-xl scale-[0.98] hover:scale-100 cursor-pointer transition-all translate-x-28">
          <div class="absolute top-0 left-0 p-6">
            <p class="mb-2 text-xs uppercase">So sánh tất cả các phiên bản</p>
            <p class="mb-2 text-3xl font-bold">iPad nào phù hợp với bạn</p>
          </div>
          <img [src]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-card-50-compare-202405?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=1713389745476'" alt=""
            class="object-contain rounded-2xl"
          >
        </div>
      </div>
      <div>
        <div class="relative flex items-start w-[31rem] h-fit rounded-2xl shadow-card hover:shadow-xl scale-[0.98] hover:scale-100 cursor-pointer transition-all translate-x-28">
          <div class="absolute top-0 left-0 p-6">
            <p class="mb-2 text-xs uppercase">Chuyên gia về Ipad</p>
            <p class="mb-2 text-3xl font-bold">Mua hàng với tư vấn trực tiếp từ Chuyên Gia trực tuyến.</p>
          </div>
          <img [src]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-card-50-specialist-help-202309?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=1701194078872'" alt=""
            class="object-contain rounded-2xl"
          >
        </div>
      </div>
      <div class="pr-56">
        <div class="relative flex items-start w-[31rem] h-fit rounded-2xl shadow-card hover:shadow-xl scale-[0.98] hover:scale-100 cursor-pointer transition-all translate-x-28">
          <div class="absolute top-0 left-0 p-6">
            <p class="mb-2 text-xs uppercase">Khắc miễn phí</p>
            <p class="mb-2 text-3xl font-bold">Tạo dấu ấn riêng cho iPad với thông điệp hoặc biểu tượng cảm xúc.</p>
          </div>
          <img [src]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-card-50-engraving-202405_GEO_VN?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=1714500761120'" alt=""
            class="object-contain rounded-2xl"
          >
        </div>
      </div>
    </div>
  </app-custom-swiper>

  <div class="flex items-start w-full mt-6 px-28">
    <div class="w-3/5">
      <p class="text-2xl font-bold">Nhiều cách để tiết kiệm. <span class="text-2xl font-bold text-hint">Tìm cách phù hợp với bạn.</span></p>
    </div>
  </div>

  <app-custom-swiper [swiperID]="'tradeInPromotion'">
    <div
      class="flex items-center w-screen gap-4 overflow-x-scroll hide-scrollbar"
      id="tradeInPromotion"
    >
      <div>
        <div class="relative flex items-start w-[31rem] h-fit rounded-2xl shadow-card hover:shadow-xl scale-[0.98] hover:scale-100 cursor-pointer transition-all translate-x-28">
          <div class="absolute top-0 left-0 p-6">
            <p class="mb-2 text-xs uppercase">Apple trade in</p>
            <p class="mb-2 text-3xl font-bold">Đổi iPad đang dùng, nhận điểm tín dụng để mua iPad mới.</p>
          </div>
          <img [src]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-card-50-trade-in-202405?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=1713389745038'" alt=""
            class="object-contain rounded-2xl"
          >
        </div>
      </div>
    </div>
  </app-custom-swiper>

  <div class="flex items-start w-full mt-6 px-28">
    <div class="w-3/5">
      <p class="text-2xl font-bold">Một trải nghiệm rất iPad. <span class="text-2xl font-bold text-hint">Được thiết kế để kết nối với mọi thứ của Apple.</span></p>
    </div>
  </div>

  <app-custom-swiper [swiperID]="'servicePromotion'">
    <div
      class="flex items-center w-screen gap-4 overflow-x-scroll hide-scrollbar"
      id="servicePromotion"
    >
      <div>
        <div class="relative flex items-start w-[31rem] h-fit rounded-2xl shadow-card hover:shadow-xl scale-[0.98] hover:scale-100 cursor-pointer transition-all translate-x-28">
          <div class="absolute top-0 left-0 p-6">
            <p class="mb-2 text-xs uppercase">Ipados</p>
            <p class="mb-2 text-3xl font-bold">Làm việc dễ như chơi.</p>
          </div>
          <img [src]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-card-50-ipados-202405_GEO_VN?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=1713998535464'" alt=""
            class="object-contain rounded-2xl"
          >
        </div>
      </div>
      <div>
        <div class="relative flex items-start w-[31rem] h-fit rounded-2xl shadow-card hover:shadow-xl scale-[0.98] hover:scale-100 cursor-pointer transition-all translate-x-28">
          <div class="absolute top-0 left-0 p-6">
            <p class="mb-2 text-xs uppercase">Công cụ thiết kế cho ứng dụng trên ipad</p>
            <p class="mb-2 text-3xl font-bold"><span class="text-blue-600">Chinh phục ngành học</span> với các ứng dụng được tuyển chọn cho môn học.</p>
          </div>
          <img [src]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-card-50-edu-essentials-major-202404?wid=960&hei=1000&fmt=png-alpha&.v=1709938581676'" alt=""
            class="object-contain rounded-2xl"
          >
        </div>
      </div>
      <div class="pr-56">
        <div class="relative flex items-start w-[31rem] h-fit rounded-2xl shadow-card hover:shadow-xl scale-[0.98] hover:scale-100 cursor-pointer transition-all translate-x-28">
          <div class="absolute top-0 left-0 p-6">
            <p class="mb-2 text-xs uppercase">apple one</p>
            <p class="mb-2 text-3xl font-bold">Gộp chung nhiều dịch vụ của Apple. Tận hưởng nhiều hơn, tốn kém ít hơn.</p>
          </div>
          <img [src]="'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-card-50-subscriptions-202108?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=1626831753000'" alt=""
            class="object-contain rounded-2xl"
          >
        </div>
      </div>
    </div>
  </app-custom-swiper>

</div>