<div class="flex flex-col items-center w-full gap-4 pt-4">
  <app-banner></app-banner>

  <app-advertise class="max-w-screen-xl"></app-advertise>

  <app-categories class="w-full max-w-screen-xl"></app-categories>

  <div class="flex items-start w-full max-w-screen-xl">
    <div class="w-3/5">
      <p class="text-2xl font-bold">Công cụ tiên tiến cho những môn học nâng cao. <span class="text-2xl font-bold text-hint">Chọn dòng sản phẩm hàng đầu.</span></p>
    </div>
  </div>

  <div class="flex items-center max-w-screen-xl gap-6">
    <app-promotion></app-promotion>
    <app-promotion></app-promotion>
    <app-promotion></app-promotion>
    <app-promotion></app-promotion>
    <app-promotion></app-promotion>
  </div>

  <div class="h-60"></div>

</div>