<div class="flex flex-col items-center">
  <img src="assets/images/advertise.jfif" alt="advertise image">
  <div class="flex items-center justify-between w-full">
    <div>
      <p>Cửa Hàng Giáo Dục.</p>
      <p>Những phương tiện hỗ trợ học tập tuyệt vời nhất</p>
    </div>
    <div class="flex items-center gap-2">
      <svg-icon svgIcon="heroicons_outline:plus-circle" class="text-secondary"></svg-icon>
      <div class="flex flex-col items-start gap-2">
        <p>Bạn cần trợ giúp mua sắm</p>
        <div class="flex items-center gap-2">
          <p>Hỏi chuyên gia</p>
          <svg-icon svgIcon="heroicons_outline:plus-circle" class="text-secondary"></svg-icon>
        </div>
      </div>
    </div>
  </div>
</div>